arabic-reshaper==2.1.1
asgiref==3.3.1
barcode==1.0.1
blabel==0.1.4
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cssselect2==0.4.1
cycler==0.10.0
defusedxml==0.7.1
diff-match-patch==20200713
Django==3.1.7
django-import-export==2.5.0
django-qrcode==0.3
django-weasyprint==1.1.0
et-xmlfile==1.0.1
future==0.18.2
html5lib==1.1
idna==2.10
Jinja2==2.11.3
kiwisolver==1.3.1
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib==3.3.4
mkdir==2020.12.3
numpy==1.19.3
odfpy==1.4.1
openpyxl==3.0.7
pandas==1.1.3
Pillow==8.1.2
pisa==3.0.33
pycairo==1.20.0
pycparser==2.20
pylabels==1.2.1
pyparsing==2.4.7
pyPdf==1.13
PyPDF2==1.26.0
Pyphen==0.10.0
PyQRCode==1.2.1
pyStrich==0.8
python-barcode==0.13.1
python-bidi==0.4.2
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2021.1
PyYAML==5.4.1
qrcode==6.1
reportlab==3.5.65
requests==2.25.1
shapes==0.1.3
six==1.15.0
sqlparse==0.4.1
tablib==3.0.0
tinycss2==1.1.0
urllib3==1.26.2
values==2020.12.3
WeasyPrint==52.4
webencodings==0.5.1
write==2020.12.3
xhtml2pdf==0.2.5
xlrd==2.0.1
XlsxWriter==1.3.7
xlwt==1.3.0
